.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 170px;
  border: 1px solid rgb(202, 196, 196);
  justify-content: space-between;
  padding-left: 1.2rem;
  padding-right: 1rem;
  transition: 0.4s ease-in-out;
  box-shadow: 3px 3px 7px 2px rgb(197, 194, 194);
}
.sidebar .top {
  padding-top: 2em;
}
.sidebar .top .logo span,
.sidebar .top .res-logo span {
  font-size: 22px;
  font-weight: 800;
  color: #646fd4;
}
.res-logo {
  display: none;
}
.center {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 0.7em;
}
.list-item {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 5px;
  color: rgb(88, 87, 87);
  padding: 5px;
  cursor: pointer;
}
.list-item:hover {
  background-color: #646fd494;
  color: black;
  transition: 0.4s ease-in-out;
  border-radius: 10px;
}
.center .icon {
  font-size: 18px;
}
.bottom {
  padding-bottom: 2em;
}
.nav-link {
  text-decoration: none;
}
.bottom .ad {
  background-color: #646fd4;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 13px;
  padding-bottom: 13px;
  margin-bottom: 1rem;
}
.bottom .ad p {
  color: white;
  text-align: center;
}
.bottom .ad button {
  padding: 8px 10px;
  width: 100%;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  background: #646fd4;
}
.bottom .ad button:hover {
  background: #8f96e6a9;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 910px) {
  .sidebar {
    padding: 0;
    align-items: center;
    width: 70px;
    transition: 0.4s;
  }
  .logo {
    display: none;
  }
  .res-logo {
    display: flex;
  }
  .sidebar .icon {
    background-color: #646fd4;
    padding: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
  .bottom .ad {
    display: none;
  }
  .center {
    padding-left: 0;
    margin: 20px 0;
  }
  .list-item span {
    display: none;
  }
}
.active {
  background-color: #646fd48c;
  border-radius: 20px;
  color: white;
}
