@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --main-color: #646fd4;
  --light-main-color: #646fd477;
  --lighter-main-color: #646fd433;
}
